.website {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: scroll;
}

.header {
  background-color: rgba(0, 128, 255, 0.5);
  width: 100%;
}

.title-bar {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: center;
}

.title {
  margin: 0;
}

.icon {
  margin-right: 10px;
}

.tab-selector {
  display: flex;
  justify-content: space-between;
}

.tab {
  align-items: center;
  border: 2px solid black;
  border-left: 0;
  display: flex;
  height: 30px;
  width: 100%;
  justify-content: center;
}

.tab:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.tab-selector > .tab:last-child {
  border-right: 0;
}

.section {
  height: calc(100% - 60px);
  width: calc(100% - 60px);
  padding: 30px;
}

#home-section {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto 560px;
  grid-template-rows: 315px 315px;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#resources-section {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

#news-section {
  display: flex;
  flex-direction: column;
}

.home-container {
  align-items: center;
  display: flex;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.25);
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 60px);
}

.intro-line {
  margin: 0;
}

.image {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.abstract {
  margin: 0;
  text-align: justify;
  width: calc(100% - 60px);
}

.resource-container {
  height: 100%;
  width: 100%;
}

.resource {
  align-items: center;
  display: flex;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  text-decoration: none;

  height: 90px;
}

.resource:hover {
  background-color: white;
  color: black;
}

.resource-title {
  margin: 0;
}

.news-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.25);

  height: 90px;
  margin: 15px 0;
}

.news-title {
  margin: 0;
}

.hidden {
  display: none !important;
}


#about-section {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 200px 200px 200px;
}

.about-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, .25);
}

#team-section {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
}

.team-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 15px;
  padding: 15px;
}

.team-card-nameplate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-card-name {
  margin: 0;
}

.team-card-title {
  color: grey;
  font-size: 18px;
  margin: 0;
}

.team-card-image {
  width: 200px;
  height: 200px;
}

.team-card-description {
  grid-column: 1 / span 2;
  text-align: justify;
  margin: 0;
}
